h1 {
    font-family: 'K2D', sans-serif;
}

.navbar {
    margin-bottom: 10px;
}

.nav-item {
    margin-left: 10px;
}

img {
    margin-left:20px;
}

.form-inline{
    margin-right:20px;
}