<div class="container">
<div class="list-group">
  <li class="list-group-item list-group-item-action flex-column align-items-start ">
    <div class="d-flex w-100 justify-content-between titlemargin">
      <h5 class="mb-1">Alpha Release: Version 0.0.0</h5>
      <small>October 2nd, 2018</small>
    </div>
    <p class="mb-1">- Added a Changelog</p>
    <p class="mb-1">- Added a Navigation Bar Component</p>
    <p class="mb-1">- Added a Footer Component</p>
    <p class="mb-1">- Added a Homepage Component</p>
    <p class="mb-1">- Added a View Cars Component</p>
    <p class="mb-1">- Change title from Car-Census to Supercharged</p>


    <small>-Phil</small>
  </li>
</div>

</div>